aiohappyeyeballs==2.4.3
aiohttp==3.10.10
aiosignal==1.3.1
aiosqlite==0.20.0
altair==5.4.1
annotated-types==0.7.0
anyio==4.6.2.post1
appdirs==1.4.4
archspec @ file:///home/conda/feedstock_root/build_artifacts/archspec_1708969572489/work
asgiref==3.8.1
asyncio==3.4.3
attrs==24.2.0
Automat==24.8.1
backoff==2.2.1
bcrypt==4.2.0
beautifulsoup4==4.12.3
blinker==1.8.2
blis==1.0.1
boltons @ file:///home/conda/feedstock_root/build_artifacts/boltons_1711936407380/work
Brotli @ file:///Users/runner/miniforge3/conda-bld/brotli-split_1725267563793/work
bs4==0.0.2
build==1.2.2.post1
cachetools==5.5.0
catalogue==2.0.10
certifi @ file:///home/conda/feedstock_root/build_artifacts/certifi_1725278078093/work/certifi
cffi @ file:///Users/runner/miniforge3/conda-bld/cffi_1725560578465/work
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1698833585322/work
chroma-hnswlib==0.7.6
chromadb==0.5.16
click==8.1.7
cloudpathlib==0.20.0
cohere==5.11.2
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1666700638685/work
coloredlogs==15.0.1
conda @ file:///Users/runner/miniforge3/conda-bld/conda_1722273201586/work
conda-libmamba-solver @ file:///home/conda/feedstock_root/build_artifacts/conda-libmamba-solver_1721292473987/work/src
conda-package-handling @ file:///home/conda/feedstock_root/build_artifacts/conda-package-handling_1717678605937/work
conda_package_streaming @ file:///home/conda/feedstock_root/build_artifacts/conda-package-streaming_1717678526951/work
confection==0.1.5
constantly==23.10.4
Crawl4AI==0.3.72
cryptography==43.0.3
cssselect==1.2.0
cymem==2.0.8
defusedxml==0.7.1
Deprecated==1.2.14
distro @ file:///home/conda/feedstock_root/build_artifacts/distro_1704321475663/work
durationpy==0.9
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl#sha256=1932429db727d4bff3deed6b34cfc05df17794f4a52eeb26cf8928f7c1a0fb85
faiss-cpu==1.9.0
fake-useragent==1.5.1
Faker==37.1.0
fastapi==0.115.4
fastavro==1.9.7
filelock==3.16.1
Flask==3.0.3
flask-cors==5.0.1
flatbuffers==24.3.25
frozendict @ file:///Users/runner/miniforge3/conda-bld/frozendict_1726948729231/work
frozenlist==1.5.0
fsspec==2024.10.0
gitdb==4.0.11
GitPython==3.1.43
google-auth==2.35.0
googleapis-common-protos==1.65.0
greenlet==3.0.3
groq==0.11.0
grpcio==1.67.1
gunicorn==23.0.0
h11==0.14.0
h2 @ file:///home/conda/feedstock_root/build_artifacts/h2_1634280454336/work
hpack==4.0.0
html2text==2024.2.26
httpcore==1.0.6
httptools==0.6.4
httpx==0.27.2
httpx-sse==0.4.0
huggingface-hub==0.26.2
humanfriendly==10.0
hyperframe @ file:///home/conda/feedstock_root/build_artifacts/hyperframe_1619110129307/work
hyperlink==21.0.0
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1726459485162/work
importlib_metadata==8.4.0
importlib_resources==6.4.5
incremental==24.7.2
itemadapter==0.9.0
itemloaders==1.3.2
itsdangerous==2.2.0
Jinja2==3.1.4
jiter==0.6.1
jmespath==1.0.1
joblib==1.4.2
jsonpatch @ file:///home/conda/feedstock_root/build_artifacts/jsonpatch_1695536281965/work
jsonpointer @ file:///Users/runner/miniforge3/conda-bld/jsonpointer_1725302931775/work
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
kubernetes==31.0.0
langcodes==3.4.1
language_data==1.2.0
libmambapy @ file:///Users/runner/miniforge3/conda-bld/mamba-split_1725066179274/work/libmambapy
limits==3.13.0
litellm==1.48.0
lxml==5.3.0
mamba @ file:///Users/runner/miniforge3/conda-bld/mamba-split_1725066179274/work/mamba
marisa-trie==1.2.1
markdown-it-py==3.0.0
MarkupSafe==3.0.2
mdurl==0.1.2
menuinst @ file:///Users/runner/miniforge3/conda-bld/menuinst_1725359012839/work
mmh3==5.0.1
monotonic==1.6
mpmath==1.3.0
multidict==6.1.0
murmurhash==1.0.10
mysql-connector-python==9.1.0
narwhals==1.12.0
networkx==3.4.2
nltk==3.9.1
numpy==2.0.2
oauthlib==3.2.2
ollama==0.3.3
onnxruntime==1.19.2
openai==1.75.0
opentelemetry-api==1.27.0
opentelemetry-exporter-otlp-proto-common==1.27.0
opentelemetry-exporter-otlp-proto-grpc==1.27.0
opentelemetry-instrumentation==0.48b0
opentelemetry-instrumentation-asgi==0.48b0
opentelemetry-instrumentation-fastapi==0.48b0
opentelemetry-proto==1.27.0
opentelemetry-sdk==1.27.0
opentelemetry-semantic-conventions==0.48b0
opentelemetry-util-http==0.48b0
orjson==3.10.10
outcome==1.3.0.post0
overrides==7.7.0
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1718189413536/work
pandas==2.2.3
parameterized==0.9.0
parse==1.20.2
parsel==1.9.1
pillow==10.4.0
platformdirs @ file:///home/conda/feedstock_root/build_artifacts/platformdirs_1726613481435/work
playwright==1.47.0
playwright-stealth==1.0.6
pluggy @ file:///home/conda/feedstock_root/build_artifacts/pluggy_1713667077545/work
posthog==3.7.0
preshed==3.0.9
propcache==0.2.0
Protego==0.3.1
protobuf==4.25.5
psutil==6.1.0
psycopg2==2.9.10
psycopg2-binary==2.9.10
pyarrow==18.0.0
pyasn1==0.6.1
pyasn1_modules==0.4.1
pycosat @ file:///Users/runner/miniforge3/conda-bld/pycosat_1696355905762/work
pycparser @ file:///home/conda/feedstock_root/build_artifacts/pycparser_1711811537435/work
pydantic==2.11.3
pydantic-settings==2.9.0
pydantic_core==2.33.1
pydeck==0.9.1
PyDispatcher==2.0.7
pyee==12.0.0
Pygments==2.18.0
pymssql==2.3.2
PyMySQL==1.1.1
pyodbc==5.2.0
pyOpenSSL==24.2.1
PyPika==0.48.9
pyppeteer==2.0.0
pyproject_hooks==1.2.0
pyquery==2.0.1
PySocks @ file:///home/conda/feedstock_root/build_artifacts/pysocks_1661604839144/work
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2024.2
PyYAML==6.0.2
queuelib==1.7.0
RapidFuzz==3.12.2
referencing==0.35.1
regex==2024.9.11
requests==2.32.2
requests-file==2.1.0
requests-html==0.10.0
requests-oauthlib==2.0.0
rich==13.9.3
rpds-py==0.20.0
rsa==4.9
ruamel.yaml @ file:///Users/runner/miniforge3/conda-bld/ruamel.yaml_1707298175978/work
ruamel.yaml.clib @ file:///Users/runner/miniforge3/conda-bld/ruamel.yaml.clib_1707314647343/work
safetensors==0.4.5
scikit-learn==1.5.2
scipy==1.14.1
Scrapy==2.11.2
selenium==4.26.1
sentence-transformers==3.2.1
service-identity==24.2.0
setuptools==74.1.2
shellingham==1.5.4
six==1.16.0
slowapi==0.1.9
smart-open==7.0.5
smmap==5.0.1
sniffio==1.3.1
sortedcontainers==2.4.0
soupsieve==2.6
spacy==3.8.2
spacy-legacy==3.0.12
spacy-loggers==1.0.5
SQLAlchemy==2.0.36
srsly==2.4.8
starlette==0.41.2
streamlit==1.39.0
structlog==25.2.0
sympy==1.13.1
tenacity==9.0.0
thefuzz==0.22.1
thinc==8.3.2
threadpoolctl==3.5.0
tiktoken==0.8.0
tldextract==5.1.2
tokenizers==0.20.1
toml==0.10.2
torch==2.5.1
tornado==6.4.1
tqdm @ file:///home/conda/feedstock_root/build_artifacts/tqdm_1722737464726/work
transformers==4.46.1
trio==0.27.0
trio-websocket==0.11.1
truststore @ file:///home/conda/feedstock_root/build_artifacts/truststore_1724770958874/work
Twisted==24.10.0
typer==0.12.5
types-requests==2.32.0.20241016
typing-inspection==0.4.0
typing_extensions==4.12.2
tzdata==2024.2
urllib3==1.26.20
uvicorn==0.32.0
uvloop==0.21.0
w3lib==2.2.1
wasabi==1.1.3
watchdog==5.0.3
watchfiles==0.24.0
weasel==0.4.1
websocket-client==1.8.0
websockets==10.4
Werkzeug==3.1.3
wheel==0.44.0
wrapt==1.16.0
wsproto==1.2.0
yarl==1.17.0
zipp==3.20.2
zope.interface==7.1.1
zstandard==0.23.0
